	/* UNIVERSAL TABLE ATTRIBUTES  */
	
	table {
		font-family: "Lato","sans-serif";
		}		/* added custom font-family  */

	table caption {
		padding-bottom: 1em;		}

	
/* --------------TABLE ONE ATTRIBUTES-----------------  */

	table.one {
    letter-spacing: 0;	
	margin-bottom: 3em;	
	border-collapse:collapse;
	display: inline-block;
	margin-right: 3em;
margin-left: 8em;	}	

	
	table.one td {								
	text-align: center;     
	width: 10em;					
	padding: 1em; 		}		


	table.one th {								
	text-align: center;					
	padding: 1em;
	background-color: #e8503a;			
	color: white;		}			      

	table.one tr {	
	height: 1em;	}

	table.one tr:nth-child(even) {			
    background-color: #eee;		}

	table.one tr:nth-child(odd) {			
	background-color:#fff;		}
	