<!DOCTYPE html>
<head>
	<title>Search Results </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search Form | LinkedIn Profile Scrapper</title>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/testApp/css/layouts/pure-min.css">
	<link rel="stylesheet" href="/static/testApp/css/layouts/t1.css">
	<link rel="stylesheet" href="/static/testApp/css/layouts/grids-responsive-min.css">
	<link rel="stylesheet" href="/static/testApp/css/layouts/search.css">
	<link rel="stylesheet" href="/static/testApp/css/layouts/tables.css">
	<link rel="stylesheet" href="/static/testApp/css/layouts/message.css">
	{%	load staticfiles %}
	

</head>
<body>
	<div class="pure-menu-heading pure-menu-horizontal " >
	    <a href="#" class="pure-menu-heading">UTD</a>
	    <ul class="pure-menu-list">
	        <li class="pure-menu-item pure-menu-selected"><a href="/testApp/search" class="pure-menu-link">SearchData</a></li>
        	<!-- <li class="pure-menu-item"><a href="/testApp/searchgrad/" class="pure-menu-link">Query</a></li> -->
	        <li class="pure-menu-item pure-menu-selected"><a href="/testApp/allresults/" class="pure-menu-link">Browse</a></li>
			<li class="pure-menu-item pure-menu-selected"><a href="/testApp/facebook/" class="pure-menu-link">Facebook (Ground > Combined > Social | Not sorted by Seed Truth)</a></li>
			<li class="pure-menu-item pure-menu-selected"><a href="/testApp/socialgraph/" class="pure-menu-link">Facebook (Social Graph)</a></li>
			<li class="pure-menu-item pure-menu-selected"><a href="/testApp/groundtruth/" class="pure-menu-link">Facebook (Ground Truth)</a></li>
			<li class="pure-menu-item pure-menu-selected"><a href="/testApp/combined/" class="pure-menu-link">Facebook (Combined and Seed Friends Truth)</a></li>
	        <li class="pure-menu-item"><a href="/testApp/delete/" class="pure-menu-link">Delete</a></li>
			<li class="pure-menu-item"><a href="/testApp/upload/" class="pure-menu-link">Batch File</a></li>
	    </ul>
	</div>
	
	{% include "testApp/searchbox.html" %}
	{% include "testApp/filters.html" %}
	<br/>

	<!-- Table to print the search results -->
	{% include "testApp/allresults.html" %}
	
	</div>
		<button type="button" id="submit_selections">Merge</button>
	</div>
</body>
<!--scripts -->
	<script src="{% static "/static/testApp/js/jquery-3.0.0.min.js" %}"></script>
	<script src="{% static "/static/testApp/js/rango-ajax.js" %}"></script>
	<script src="{% static "/static/testApp/js/json2.js" %}"></script>
	<div class="footer l-box" >
    <p>
        &copy. University Of Texas at Dallas, TX, USA
    </p>
</div>
</html>