<!DOCTYPE html>
	<head>
		<title>Search Results </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Search Form | LinkedIn Profile Scrapper</title>
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/testApp/css/layouts/pure-min.css">
		<link rel="stylesheet" href="/static/testApp/css/layouts/t1.css">
		<link rel="stylesheet" href="/static/testApp/css/layouts/grids-responsive-min.css">
		<link rel="stylesheet" href="/static/testApp/css/layouts/search.css">
		<link rel="stylesheet" href="/static/testApp/css/layouts/tables.css">
		<link rel="stylesheet" href="/static/testApp/css/layouts/message.css">
		{%	load staticfiles %}
	</head>
	<script>
		function onLoad() {
		    document.getElementById("fetchSocialScores").style.backgroundColor="#82e0aa";
		}
	</script>
	<body onload="onLoad()">
		<div class="pure-menu-heading pure-menu-horizontal"></div>
		<table id="table_one" border="0" style="table-layout: fixed;width:1600px;margin-left:2cm;">
			<tr style="width:1600px">
				<td colspan="3" style="width:160px">
					<b><font size="3"><ul class="pure-menu-list"></font></b><br/>
				</td>
				<td colspan="3" style="width:160px">
					<b><font size="3"><a href="/testApp/fetchSocialScores/" class="pure-menu-link" id="fetchSocialScores">social-graph</a></font></b><br/>
				</td>
				<td colspan="3" style="width:160px">
					<b><font size="3"><a href="/testApp/facialrecognition/" class="pure-menu-link">facial-recognition</a></font></b><br/>
				</td>
				<td colspan="3" style="width:160px">
					<b><font size="3"><a href="/testApp/inputgroundtruth/" class="pure-menu-link">input-ground-truth</a></font></b><br/>
				</td>
				<td colspan="3" style="width:160px">
					<b><font size="3"><a href="/testApp/improvedsocialgraph/" class="pure-menu-link">improved-social-graph</a></font></b><br/>
				</td>
		    <td colspan="3" style="width:160px">
					<b><font size="3"><a href="/testApp/lists/" class="pure-menu-link">lists</a></font></b><br/>
				</td>
				<td colspan="3" style="width:160px">
					</ul>
				</td>
				<br/><br/>
				</td>
			</tr>
			</tr>
		</table>
			<br/>
			{% include "testApp/social_graph_detail.html" %}
		</div>
			<button type="button" id="submit_selections">Merge</button>
		</div>
	</body>
	<script src="{% static "/static/testApp/js/jquery-3.0.0.min.js" %}"></script>
	<script src="{% static "/static/testApp/js/rango-ajax.js" %}"></script>
	<script src="{% static "/static/testApp/js/json2.js" %}"></script>
	<div class="footer l-box" >
	  <p>
	      &copy. University Of Texas at Dallas, TX, USA
	  </p>
	</div>
</html>
