<!DOCTYPE html>
<body>

<h1>S.O.R.T</h1>

<table class="one tablesorter" id="table_one">
	<h3>Entries </h3>
	<thead>
        <tr>
        	<!-- <th>ID</th> -->
		    <th>Image</th>
            <th>Name</th>
			<!--<th>Title</th>
            <th>LinkedIn</th>
			<th>Connections</th>-->
			<th>Email</th>
			<th>LinkedIn Profile</th>
			<th>University</th>
            <th>Industry</th>
            <th>Location</th>
            <th>Work Info</th>
            <th>Connections</th>
            <th>Multiple</th>
            <th>Select</th>
        </tr>
    </thead>
	<tbody>
	
	{% for e in entries %}
	{%	if forloop.counter|divisibleby:2 %}
	<tr>

		<!-- <td>{{e.personData.personId}}</td> -->
		<td>
			{% if e.personData.isProfilePic %}
			<img src={{e.personData.profilePhoto.profilePhoto.media_picture_link_100}}>
			{% else %}
			<img src={{e.personData.profilePhoto.profilePhoto.genericGhostImage}}>
			{% endif %}
		</td>
		<td>{{e.personData.firstName}} {{e.personData.lastName}}</td>
		<td>
			{{e.email}}
		</td>
		<td><a href="{{ e.personData.link_nprofile_view_3 }}/">LinkedIn Profile</a>
		</td>
		<td>{{e.personData.education}}</td>
		<td>
		{{e.personData.fmt_industry}}
		</td>
		<td>{{e.personData.fmt_location}}</td>
		<td>{{e.personData.fmt_headline}}</td>
		<td>{{e.personData.connectionCount}}</td>
		<td>
			{% if e.isMultiple %}
			<a href="{% url 'testApp:update' email_id=e.email %}">
				Multiple
			</a>
			{% endif %}

		</td>
		<td>
			<input type="checkbox" class="check_class" name="{{e.personData.personId}}" />
		</td>
	</tr>
	{% else %}
	<tr>

		<!-- <td>{{e.personData.personId}}</td> -->
		<td>
			{% if e.personData.isProfilePic %}
			<img src={{e.personData.profilePhoto.profilePhoto.media_picture_link_100}}>
			{% else %}
			<img src={{e.personData.profilePhoto.profilePhoto.genericGhostImage}}>
			{% endif %}
		</td>
		<td>{{e.personData.firstName}} {{e.personData.lastName}}</td>
		<td>
			{{e.email}}
		</td>
		<td><a target="_blank" href="{{ e.personData.link_nprofile_view_3 }}/">LinkedIn Profile</a>
		</td>
		<td>{{e.personData.education}}</td>
		<td>
		{{e.personData.fmt_industry}}
		</td>
		<td>{{e.personData.fmt_location}}</td>
		<td>{{e.personData.workinfo}}</td>
		<td>{{e.personData.connectionCount}}</td>
		<td>
			{% if e.isMultiple %}
			<a href="{% url 'testApp:update' email_id=e.email %}">
				Multiple
			</a>
			{% else %}
			No Multiples
			{% endif %}

		</td>
		<td><input type="checkbox" class="check_class" name="{{e.personData.personId}}" /></td>
	</tr>
	
	{% endif %}
	{% endfor %}
	
	<br>
	</tbody>
	</table>

</body>
</html>