<!-- template : searchbox -->
<!DOCTYPE html>
<body>
<form class="pure-form pure-form-aligned" style="width:100%;" action="{% url 'testApp:sortviewaction' %}" method="post">
		{% csrf_token %}
		<fieldset>
			
		<!-- <div class="pure-control-group"> -->
			<!-- <label for="fname">First Name</label>
			<input name="fname" type="text" style="text-align:left;" placeholder="First Name" >
			<label for="lname">Last Name</label>
	        <input name="lname" type="text" style="text-align:right;" placeholder="Last Name"> -->
	        <!-- <label for="email" style='color:white;' >Email</label>
            <input name="email" type="text" style="text-align:left;" placeholder="Email" required> -->
            
    		
    		<label for="sort_type" style='color:white;'>Sort</label>
    		<select name="sort_type" style="text-align:right; width:20em;" required>
    			<option selected disabled>Choose One</option>
    			<option value="byname" >Name (A->Z)</option>
    			<option value="bynamed" >Name (Z->A)</option>
    			<option value="byconnections">Connections (less->more)</option>

    			<option value="byconnectionsd">Connections (more->less)</option>
    			<option value="byemail">By Email</option>
    		</select>
	    	<!-- </div>
	        <div class="pure-controls"> -->
            <button type="submit" class="pure-button pure-button-primary">Run</button>
	       
		</fieldset>
</form>

</body>
</html>