<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Message | LinkedIn Profile Scraper</title>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/testApp/css/layouts/pure-min.css">
<link rel="stylesheet" href="/static/testApp/css/layouts/t1.css">
<link rel="stylesheet" href="/static/testApp/css/layouts/grids-responsive-min.css">
<link rel="stylesheet" href="/static/testApp/css/layouts/search.css">
<link rel="stylesheet" href="/static/testApp/css/layouts/tables.css">
<link rel="stylesheet" href="/static/testApp/css/layouts/message.css">
</head>
<body>
<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">UTD</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/testApp/search/" class="pure-menu-link">Search</a></li>
        <li class="pure-menu-item"><a href="/testApp/results/" class="pure-menu-link">Results</a></li>
        <li class="pure-menu-item"><a href="/testApp/delete/" class="pure-menu-link">Delete</a></li>
		<li class="pure-menu-item"><a href="/testApp/upload/" class="pure-menu-link">Batch File</a></li>
    </ul>
</div>

<div class="banner">
    <h1 class="banner-head">
        LinkedIn Profile Scraper<br>
        Dr. Latifur Khan Project.
    </h1>
</div>
<div class="l-content"> 
    <div class="pricing-tables pure-g">
	  {% if msg.type == "I" %}
      <p class="message info"> {{msg.message}} </p>
	  {% elif msg.type == "E" %}
	  <p class="message error"> {{msg.message}} </p>
	  {% endif %}
 </div>
</div>

<div class="footer l-box">
    <p>
        Updates are in progress.
    </p>
</div>
</body>
</html>