<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Search Form | LinkedIn & Facebook Scrape</title>
<link rel="stylesheet" href="/static/testApp/css/layouts/pure-min.css">
<link rel="stylesheet" href="/static/testApp/css/layouts/grids-responsive-min.css">
<link rel="stylesheet" href="/static/testApp/css/layouts/search.css">
</head>
<body>
<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">UTD</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Information</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
    </ul>
</div>

<div class="banner">
    <h1 class="banner-head">
        LinkedIn & Facebook References<br>
        Dr. Latifur Khan Project.
    </h1>
</div>

<div class="l-content"> 
     <div class="pricing-tables pure-g">
	
	 </div>
<div class="footer l-box">
    <p>
        Updates are in progress.
    </p>
</div>
</body>
</html>